// Para empezar sass: npm run sass

@import 'config';
@import 'menu';


* {
    box-sizing: border-box;
}

body {
    @include background;
    background: rgba(rgb(19, 19, 19), $background-opacity);
    color: set-text-color($primary-color);
    height: 100%;
    margin: .2em 0;
    font-family: League Spartan,Helvetica,Arial,sans-serif;
}

/// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  margin-bottom: .0938066507em;
  font-size: 3.9975843648em;
  line-height: .9380665066;


  &.lg-heading {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem;
    font-size: 2rem;
  }
}

a {
  color: #fff;
  text-decoration: none;
  list-style: none;

  &:hover {
    color: #fff;
    list-style: none;
  }
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
    padding: 4rem;
    //height: 100%;
    min-height: calc(100vh - 60px);

    .icons, .icons2, .icons3 {
    margin-top: 1rem;


    a {
        padding: 0.4rem;

        &:hover {
        color: rgb(238, 78, 78);
        @include easeOut();
        }
    }
    }

    &#home {
    overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}


// About
.about-info {
    display: grid;
    grid-gap: 40px;
    grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: 1fr 1fr 1fr; 

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
    }
    
    .bio {
        grid-area: bio;
        font-size: 1rem;
    }

    h3 {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 40px;
    }

    .icons2 {
        color: red;
    }
    
    .job-1 {
        grid-area: job1;
    }
    
    .job-2 {
        grid-area: job2;
    }
    
    .job-3 {
        grid-area: job3;
    }
    
    .job {
        background: #fff;
        color: #333;
        padding: 0.7rem;
        text-align: center;
        padding-bottom: 70px;
        padding-top: 30px;
    }
    h4 {
        font-weight: 800;
        font-size: 1.2rem;
    }
    h5 {
        color: rgb(153, 52, 52);
        font-size: 1rem;
    }
}

// Work/Projects
.projects {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    img {
        width: 100%;

        &:hover {
            /*opacity: 2;*/
            background: $ter-color;
            @include easeOut;
        } 
    }
    .card {
        border: none;

        .card-title {
            color: rgb(49, 49, 49);
            font-weight: bold;
            font-size: 2rem;
        }

        &:hover {
            opacity: 0.5;
            @include easeOut;
            background: $ter-color;
        }
    }
    
}

// Button Styles
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    background: $ter-color;
    color: #fff;

    &:hover {
        background: rgb(34, 34, 34);
        color: #fff;
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: grey;
    color: #333;
}

#main-footer {
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 150px;
    text-align: center;

    .icons3 {
        text-align: center;
        margin-right: 25px;

        /*&:hover {
            color: rgb(153, 52, 52);
        }*/

        a {
            padding: 0.4rem;
    
            &:hover {
            color: rgb(238, 78, 78);
            @include easeOut();
            }
        }
    }
}

//CONTACT

  .contact-icons li {
    color: red;
    text-decoration: none;
    list-style: none;
    margin-top: 50px;
  }

  /*#map {
    width: 100%;
    height: 500px;
    position: relative;
    background: #fff;
  }
  @media screen and (max-width: 768px) {
    #map {
      height: 200px;
    }
  }*/

@import 'mobile';