.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  /*opacity:0.9;*/
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  /*overflow: hidden;*/
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: #e60000;
  list-style: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding {
  background: #131313;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-branding.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background: url("../img/portrait.jpg");
  border-radius: 50%;
}

.menu .nav-item {
  -webkit-transform: translate3d(600px, 0, 0);
          transform: translate3d(600px, 0, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: rgba(19, 19, 19, 0.9);
  color: #fff;
  height: 100%;
  margin: .2em 0;
  font-family: League Spartan,Helvetica,Arial,sans-serif;
}

body#bg-img {
  background: url(../img/code.jpg);
  background-attachment: fixed;
  background-size: cover;
}

body#bg-img:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(19, 19, 19, 0.9);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  margin-bottom: .0938066507em;
  font-size: 3.9975843648em;
  line-height: .9380665066;
}

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 4rem;
  margin-bottom: 2rem;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem;
  font-size: 2rem;
}

a {
  color: #fff;
  text-decoration: none;
  list-style: none;
}

a:hover {
  color: #fff;
  list-style: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}

main .icons, main .icons2, main .icons3 {
  margin-top: 1rem;
}

main .icons a, main .icons2 a, main .icons3 a {
  padding: 0.4rem;
}

main .icons a:hover, main .icons2 a:hover, main .icons3 a:hover {
  color: #ee4e4e;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

main#home {
  overflow: hidden;
}

main#home h1 {
  margin-top: 20vh;
}

.about-info {
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
      grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.about-info .bio-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
}

.about-info .bio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
  font-size: 1rem;
}

.about-info h3 {
  font-size: 3rem;
}

.about-info .subtitle {
  font-size: 40px;
}

.about-info .icons2 {
  color: red;
}

.about-info .job-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: job1;
}

.about-info .job-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: job2;
}

.about-info .job-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: job3;
}

.about-info .job {
  background: #fff;
  color: #333;
  padding: 0.7rem;
  text-align: center;
  padding-bottom: 70px;
  padding-top: 30px;
}

.about-info h4 {
  font-weight: 800;
  font-size: 1.2rem;
}

.about-info h5 {
  color: #993434;
  font-size: 1rem;
}

.projects {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.projects img {
  width: 100%;
}

.projects img:hover {
  /*opacity: 2;*/
  background: -webkit-gradient(linear, right top, left top, from(#f06449), to(#ef3636));
  background: linear-gradient(270deg, #f06449, #ef3636);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.projects .card {
  border: none;
}

.projects .card .card-title {
  color: #313131;
  font-weight: bold;
  font-size: 2rem;
}

.projects .card:hover {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background: -webkit-gradient(linear, right top, left top, from(#f06449), to(#ef3636));
  background: linear-gradient(270deg, #f06449, #ef3636);
}

.btn, .btn-dark, .btn-light {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  background: -webkit-gradient(linear, right top, left top, from(#f06449), to(#ef3636));
  background: linear-gradient(270deg, #f06449, #ef3636);
  color: #fff;
}

.btn:hover, .btn-dark:hover, .btn-light:hover {
  background: #222222;
  color: #fff;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-light {
  background: grey;
  color: #333;
}

#main-footer {
  padding: 1rem;
  background: #08040a;
  color: #fff;
  height: 150px;
  text-align: center;
}

#main-footer .icons3 {
  text-align: center;
  margin-right: 25px;
  /*&:hover {
            color: rgb(153, 52, 52);
        }*/
}

#main-footer .icons3 a {
  padding: 0.4rem;
}

#main-footer .icons3 a:hover {
  color: #ee4e4e;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.contact-icons li {
  color: red;
  text-decoration: none;
  list-style: none;
  margin-top: 50px;
}

/*#map {
    width: 100%;
    height: 500px;
    position: relative;
    background: #fff;
  }
  @media screen and (max-width: 768px) {
    #map {
      height: 200px;
    }
  }*/
@media screen and (min-width: 1171px) {
  .projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  main .header-content .btn, main .header-content .btn-dark, main .header-content .btn-light {
    display: block;
    text-align: center;
    margin: auto;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  div.menu-branding.show {
    -webkit-transform: translate(0, 0, 0);
            transform: translate(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait {
    background: url "../img/portrait_small.jpg";
    width: 100px;
    height: 100px;
  }
  .about-info {
        grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .projects {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh;
  }
  .header-content .btn, .header-content .btn-dark, .header-content .btn-light {
    display: block;
    text-align: center;
    margin: auto;
  }
  .about-info {
        grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-info .subtitle {
    font-size: 35px;
  }
  .projects {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=main.css.map */